<section id="projects">
<div class="container">
  <h3>Projects 🧪</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/rust-on-esp32">Rust on ESP32</a></strong>
			- Bare metal programing with Rust 🦀 on an ESP32 (no_std, esp-idf and async/await).
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/code-breaker">Code breaker</a></strong>
			- Code Breaker is a CLI Game developed with Rust 🦀 inspired by Wordle and Mastermind. The rule is simple find out the secret code with the help of the clues.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/mariocoin">Mario Coin</a></strong>
			- MarioCoin 🪙 is a crypto build with Rust 🦀 (from scratch, without any framework) in an educational perspective.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/nodejs-ai-assistant">Node.js AI Assistant</a></strong>
			- This project is an example of how to implements a RAG Architecture with LangChain.js and GPT-3.5-turbo to answer any question about the book "Node.js Design Patterns". Built with TS, supabase, hono, Langchain and htmx.

		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/ResumePDF">Resume PDF</a></strong>
			- Summarize, in French, any PDF file, regardless of its size or language. This RAG app, built with LangChain.js, is based on GPT-3.5-turbo.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/gasp-cli">Gasp Cli</a></strong>
			- This Cli automatically create a new node.js project including package.json and gitignore files, a sub-folder called gas that'll content all scripts you gonna to write. In addition there are in the package.json file script commands to quickly deploy 3 types of project : dev, qa or prod.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m1kc3b/mowitnow">Mow it now</a></strong>
			- Rust implementation for the MowItNow technical exercise.
		</h5>


    </div>
  </div>
</div>
</section>
