<section id="resume">
  <div class="container">
    <h3>Resume</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="resume-section">EMPLOYMENT</h4>
        <p class="resume-intro">Since 2020, I have been working as a freelance developer. Below are some of the missions I have carried out.</p>
        <div>
          <h5 class="job-title">Software Developer</h5>
          <p class="job-company"><i>Carrefour BE</i></p>
          <p>Development of an expense report entry application.</p>
        </div>
        
        <div>
          <h5 class="job-title">Software Developer</h5>
          <p class="job-company"><i>DALKIA</i></p>
          <p>Design and development of an application for entering and generating technical reports on technicians' interventions.</p>
        </div>
        
        <div>
          <h5 class="job-title">Software Developer</h5>
          <p class="job-company"><i>RADIALL</i></p>
          <p>Design and development of digital tools for purchasing, quality or production departments.</p>
        </div>
        
        <div>
          <h5 class="job-title">Software Developer</h5>
          <p class="job-company"><i>Tradefast</i></p>
          <p>Development of a stock market trend analysis tool.</p>
        </div>

        <div>
          <h5 class="job-title">Software Developer</h5>
          <p class="job-company"><i>Seoquantum</i></p>
          <p>Developing a client for their AI-assisted content generation API.</p>
        </div>

        <div>
          <h5 class="job-title">Software Developer</h5>
          <p class="job-company"><i>Gus Fabric</i></p>
          <p>Design and development of a second hand stuff marketplace's POC.</p>
        </div>

        <div>
          <h5 class="job-title">Software Developer</h5>
          <p class="job-company"><i>Bobi Réemploi</i></p>
          <p>Design of a shared database and various automations.</p>
        </div>

        <div>
          <h5 class="job-title">Software Development Trainer</h5>
          <p class="job-company"><i>CESI</i></p>
          <p>I taught software development to students of the MAALSI master's degree and supported them in their individual projects.</p>
        </div>
      

        <h4 class="resume-section">PROGRAMMING SKILLS</h4>
        <div>
          <h5 class="job-title">Software engineering & web development</h5>
          <ul>
            <li>JavaScript, Node.js</li>
            <li>Rust</li>
            <li>Python</li>
            <li>HTML & CSS</li>
            <li>Git, GitHub</li>
          </ul>
          <h5 class="job-title">Embedded programming</h5>
          <ul>
            <li>ESP-IDF</li>
            <li>Embassy</li>
          </ul>
        </div>
  
      </div>
    </div>
  </div>
  </section>
  